Pods/
Wikipedia Location.xcodeproj/xcuserdata/
Wikipedia Location.xcworkspace/xcuserdata/
Wikipedia Location.xcworkspace/xcshareddata/
Wikipedia Location.xcodeproj/project.xcworkspace/xcuserdata/
Wikipedia Location.xcodeproj"/xcshareddata/